html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
}

/*Custom Css Sheet*/
.btn-primary {
    background-color: #00adef;
    border-color: #00adef;
}
.btn-primary:hover {
    background-color: #008ec4;
    border-color: #00adef;
}
.logo {
    max-height: 40px;
}
.navbar {
    border-radius: 0px;
    padding-top: 20px;
}
.navbar-brand {
    position: relative;
    top: -20px;
}
.navbar-default {
    background-color: #eac31c;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    cursor: pointer;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    box-shadow: 0 -5px #00adef inset;
}
.navbar-default .navbar-nav>li>a.active {
    color: #ffffff;
    box-shadow: 0 -5px #00adef inset;
}
/*CONTENT*/
.tagline {
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid #cccccc 1px;
    padding-bottom: 20px;
}
.thin_border {
    padding: 20px;
    border: solid #cccccc 1px;
}
.thin_border.event_date {
    border-right: 0px;
}

.event_date {
    font-size: 24px;
    text-align: center;
    color: #00adef;
    text-transform: uppercase;
    font-weight: 700;

}
.event_description {
}
.event_headline {
    margin-top: 0px;
    color: #00adef;
    text-transform: uppercase;
}
.event_copy {
    color: #eac31c;
}
/*COLORS*/
.yellow {
    color: #eac31c;
}
.yellow-bkg {
    background-color: #eac31c;
}
.blue {
    color: #00adef;
}
.blue-bkg {
    background-color: #00adef;
}
.white {
    color: #ffffff;
}

#footer {
  position: absolute;
  bottom: 0px;
  min-height: 75px;
  width: 100%;
  color:#fff;
  background: #333;
  padding: 5px;
} 
